<div class="title-container">
    <div class="container" style="text-align: center;margin:5%">
        <h1>Registro de Ciudades</h1>
    </div>
    <div class="container" style="text-align: center">
        <form [formGroup]="form" (submit)="insertar()">

            <mat-form-field class="example-full-width" *ngIf="edicion">
                <mat-label>Código</mat-label>
                <input matInput formControlName="hcodigo" readonly="true" />
            </mat-form-field>
            <br />

            <mat-form-field class="example-full-width">
                <mat-label>Ciudad</mat-label>
                <input matInput placeholder="Ejem. Lima" formControlName="hnombre" />
            </mat-form-field>
            <br />

            <mat-form-field>
                <mat-label>Departamento</mat-label>
                <mat-select formControlName="hdepartamento">
                    @for (food of listaDepartamentos; track food) {
                    <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <br />

            <mat-form-field class="example-full-width">
                <mat-label>Latitud</mat-label>
                <input matInput placeholder="Ejem. Lima" formControlName="hlatitud" />
            </mat-form-field>
            <br />

            <mat-form-field class="example-full-width">
                <mat-label>Longitud</mat-label>
                <input matInput placeholder="Ejem. Lima" formControlName="hlongitud" />
            </mat-form-field>
            <br />

            <mat-form-field>
                <mat-label>Provincia</mat-label>
                <mat-select formControlName="hprovincia">
                    @for (food of listaProvincias; track food) {
                    <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>


            <div style="text-align: center;">
                <button mat-flat-button color="warn">Registrar</button>
            </div>
        </form>
    </div>
</div>